accelerate
beartype
einops>=0.6
ema-pytorch>=0.1.1
opencv-python
pillow
numpy
plotly
webdataset
sentencepiece
torch==1.13.1
torchtyping
torchvision
transformers>=4.20.1
tqdm
vector-quantize-pytorch>=0.10.15
wandb
av
lpips